body {
    background: #fafafa;
    font-family: Open Sans,sans-serif;
    line-height: 14px;
    color: #4e4a4f;
    font-weight: 400;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}



/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

.vertical-offset-50 {
    padding-top: 50px;
}

.radius-primary {
    border-radius: 4px;
}

.chart-box {
    background: #fff;
    min-height: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    overflow: hidden;
    margin-bottom: 10px;
}

.padded-title {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}